
<section style="width: 600px; max-width: 100%;">
    <header class="mb-4">
        <section class="w-full text-red-500 font-medium self-start 
        flex items-center justify-between">
            <span class="flex items-center text-blue-600 space-x-2">
                <mat-icon class="material-icons-outlined">point_of_sale</mat-icon>
                <p>Sales</p>
            </span>
            <button tabindex="-1" mat-icon-button class="bg-red-50"
                (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </section>
        <section class="flex items-center justify-between space-x-4">
            <p class="text-lg">Specify Item Quantity</p>
            <!-- <button tabindex="-1" mat-button color="warn" class="border" (click)="closeDialog()">
                <mat-icon>close</mat-icon> &nbsp; <span>CLOSE</span>
            </button> -->
        </section>
    </header>

    <section>        
        <form [formGroup]="form" (ngSubmit)="addProduct()">
            <div class="space-y-3 pb-2">
                <span class="flex items-start justify-between border-b">
                    <div class="space-y-1 font-medium">
                        <p>
                            <span class="text-lg">
                                {{stockItem?.product?.name}}
                            </span>
                        </p>
                        <p>
                            Unit Price: 
                            <span class="text-red-600">
                                GHC {{stockItem?.product?.sellingPrice?.toFixed(2)}}
                            </span>
                        </p>

                    </div>

                    <div class="text-right">
                        <p class="text-gray-500 text-xs">LookupKey</p>
                        <p class="uppercase">{{stockItem?.product?.lookupKey}}</p>
                    </div>
                </span>

                <p class="text-xs font-medium mt-2">
                    Branch: 
                    <span class="text-blue-800">
                        {{stockItem?.branch?.name}}
                    </span>,
                    Available Quantity: 
                    <span class="text-blue-800">
                        {{stockItem?.availableQuantity}} 
                        <span *ngIf="stockItem?.availableQuantity == 1">item</span>
                        <span *ngIf="stockItem?.availableQuantity > 1">items</span>
                    </span>
                </p>
            </div>            
            <div class="grid grid-cols-2 gap-4 mt-4">
                <!-- <mat-form-field appearance="outline" class="hidden w-full text-xs">
                    <mat-label>Branch</mat-label>
                    <input matInput [value]="stockItem?.branch?.name" disabled />
                    <mat-select tabindex="-1" required #branchSelect formControlName="selectedBranchId"
                        (selectionChange)="branchChanged(branchSelect.value)">
                        <mat-option *ngFor="let stockItem of productBranches" 
                            [value]="productBranch.branch.id">
                            {{productBranch?.branch?.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                
                <mat-form-field appearance="outline" class="w-full text-xs">
                    <mat-label>Selling at</mat-label>
                    <input tabindex="-1" matInput required value="1" type="number" 
                        #priceSoldTextbox 
                        autocomplete="off"
                        formControlName="priceSold" />
                    <span matPrefix>¢</span>
                    <!-- <mat-error *ngIf="priceSoldTextbox.value > branchProduct?.quantity">
                        The quantity you have specified.
                    </mat-error> -->
                </mat-form-field>  
                
                <mat-form-field appearance="outline" class="w-full text-xs">
                    <mat-label>Type Quantity</mat-label>
                    <input matInput required value="1" type="number" 
                        #quantityTextbox 
                        autocomplete="off"
                        formControlName="quantity" />
                </mat-form-field>      
            </div>
            <div class="flex items-start justify-between space-x-6">
                <p class="text-red-600 text-xs w-9/12">
                    {{formErrorMessage}}
                </p>
                
                <button mat-raised-button color="primary">
                    ADD PRODUCT 
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </form>
    </section>

</section>