
<div class="flex items-center justify-between">
    <p class="w-1/2 text-lg">Branch</p>
    <p class="w-1/2 text-lg">Address</p>
</div>
<ul>
    <li *ngFor="let branch of branches" class="flex items-center 
        justify-between border-b-2" style="padding: .5rem 0;">
        <p class="w-1/2">{{branch?.name}}</p>
        <p class="w-1/2">{{branch?.address}}</p>
    </li>
</ul>

        <table mat-table [dataSource]="branches" class="w-full">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Branch</th>
                <td mat-cell *matCellDef="let branch">{{branch?.name}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let branch">{{branch?.address}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <a matRipple>
                <tr mat-row *matRowDef="let branch; columns: tableColumns;" 
                    class="" style="cursor: normal;"></tr>
            </a>
        </table>