table {
    tr.body-row {
        button, a.button { visibility: hidden; }
        
        &:nth-child(even){
            background: rgb(247, 247, 247);
        }
        &:hover {
            background: rgb(231, 231, 231);
            button, a.button {
                visibility: visible;
            }
        }
    }
}