
<section class="flex items-start space-x-4">
    <app-back-button [cancelEvent]="true" (clicked)="goBack()"></app-back-button>
    <section class="w-full space-y-8">
        <header>
            <section class="flex items-center justify-between space-x-4">
                <p class="text-3xl">Stock Entry Detail</p>
                <section class="flex items-center space-x-4">
                    <p *ngIf="stockEntry && stockEntry?.isOpened"
                        class="text-green-600 border
                        py-1 px-4 rounded-full text-center
                        font-medium bg-opacity-60">
                        Opened
                    </p>
                    <p *ngIf="stockEntry && !stockEntry?.isOpened"
                        class="text-red-600 border bordr-red-500 
                        py-1 px-4 rounded-full text-center
                        font-medium bg-opacity-60">
                        Closed
                    </p>
                    <button *ngIf="stockEntry?.isOpened" mat-raised-button
                        color="warn"
                        (click)="closeStock()">
                        CLOSE STOCK ENTRY
                    </button>
                </section>
            </section>
        </header>

        <section *ngIf="!isFetchingStockEntry && !stockEntry"
            class="flex flex-col items-center justify-center space-y-4">
            <div style="width: 100px; height: 100px; border-radius: 100%;"
                class="mx-auto border flex items-center
                justify-center text-center bg-gray-100">
                <mat-icon>inventory_2</mat-icon>                
            </div>

            <p class="font-medium">
                Stock Entry was not found
            </p>

            <div>
                <a routerLink=".." 
                    mat-raised-button color="primary" 
                    class="uppercase">
                    <mat-icon>arrow_back</mat-icon>&nbsp;
                    View Stock Entry List
                </a>
            </div>
        </section>

        <section *ngIf="isFetchingStockEntry" 
            class="flex items-center flex-col justify-center space-y-4">
            <p>Fetching Entry</p>
            <mat-spinner [diameter]="30"></mat-spinner>
        </section>

        <section *ngIf="!isFetchingStockEntry && stockEntry">
            <section  class="flex items-center space-x-16 pb-2 border-b">
                <section class="flex items-start space-x-4">
                    <mat-icon>calendar_today</mat-icon>
                    <div>
                        <p class="text-gray-500">Date Created</p>
                        <p class="text-xl">{{stockEntry?.dateString}}</p>
                    </div>
                </section>
                <section class="flex items-start space-x-4">
                    <mat-icon>style</mat-icon>
                    <div>
                        <p class="text-gray-500">Added Products</p>
                        <p class="text-xl">{{stockEntry?.items?.length}}</p>
                    </div>
                </section>
                <section class="flex items-start space-x-4">
                    <mat-icon>meeting_room</mat-icon>
                    <div>
                        <p class="text-gray-500">Branch</p>
                        <p class="text-sm font-medium">{{stockEntry?.branch?.name}}</p>
                        <p class="text-xs text-gray-500">{{stockEntry?.branch?.address}}</p>
                    </div>
                </section>
            </section>
            <section *ngIf="stockEntry?.items?.length" class="text-right mt-2">
                <button *ngIf="stockEntry?.isOpened" mat-raised-button
                    color="warn" (click)="deleteStock()">
                    <mat-icon>delete</mat-icon>
                    <span>DELETE ENTRY</span>
                </button>
            </section>
        </section>
    
        <section class="mt-4">
            <section *ngIf="!isFetchingStockEntry && stockEntry && !stockEntry?.items?.length" class="text-center space-y-4">
                <div style="width: 100px; height: 100px; border-radius: 100%;"
                    class="mx-auto border flex items-center
                    justify-center text-center bg-gray-100">
                    <mat-icon>style</mat-icon>
                </div>
                <p class="font-medium">You have no items in this stock entry.</p>
                <div class="space-x-4">
                    <button mat-raised-button color="warn"
                        (click)="deleteStock()">
                        <mat-icon>delete</mat-icon>&nbsp;
                        <span>DELETE STOCK ENTRY</span>
                    </button>
                    
                    <button *ngIf="stockEntry?.isOpened" (click)="showAddItemDialog()"
                        mat-raised-button color="primary" 
                        class="uppercase">
                        <mat-icon>add</mat-icon>&nbsp;
                        Add New Item
                    </button>

                    <!-- <a *ngIf="stockEntry?.isOpened" routerLink="add-product" 
                        mat-raised-button color="primary" 
                        class="uppercase">
                        <mat-icon>add</mat-icon>&nbsp;
                        Add Stock Item
                    </a> -->
                </div>
            </section>

            <section *ngIf="!isFetchingStockEntry && stockEntry?.items?.length" class="mat-elevation-z4 rounded-md">
                <header class="p-4 flex items-start
                    justify-between space-x-4">
                    <div>
                        <p class="text-lg">Stocked Products</p>

                        <mat-form-field *ngIf="stockEntry?.items?.length > 8" appearance="outline"
                            style="font-size: .8rem;">
                            <mat-label>Search Products</mat-label>
                            <input #searchBox matInput autocomplete="off" [value]="searchQuery" 
                                (keyup)="searchProduct(searchBox.value)"/>
                            <span matPrefix>
                                <mat-icon>search</mat-icon>
                            </span>
                            <span *ngIf="searchBox.value" matSuffix>
                                <button mat-icon-button (click)="clearSearchBox(searchBox)">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </span>
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <div>
                            <button *ngIf="stockEntry?.isOpened" (click)="showAddItemDialog()"
                                mat-raised-button color="primary" 
                                class="uppercase">
                                <mat-icon>add</mat-icon>&nbsp;
                                Add Item
                            </button>
                        </div>
                    </div>
                </header>
                
                <table mat-table [dataSource]="itemsDataSource" [fixedLayout]="false" 
                    matSort class="w-full">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lookup Key</th>
                        <td mat-cell *matCellDef="let item" class="uppercase">{{item?.productLookupKey}}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let item">
                            <p style="margin: 0; font-size: .8rem; margin-right: 1rem;" 
                                class="font-medium text-gray-800">
                                {{item?.productName}}
                            </p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity Stocked</th>
                        <td mat-cell *matCellDef="let item" style="min-width: 120px;">
                            <span class="font-medium">
                                {{item?.quantityStocked || 0}}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="stockEntry?.isOpened" matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>More</th>
                        <td mat-cell *matCellDef="let item" style="min-width: 120px;">
                            <div *ngIf="stockEntry?.isOpened" class="flex items-center justify-start">
                                <button mat-icon-button [matMenuTriggerFor]="rowMenu"
                                    (click)="showRowMenu($event)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-spinner *ngIf="item.isDeleting" [diameter]="20"></mat-spinner>
                            </div>
                            <mat-menu #rowMenu>
                                <button mat-menu-item (click)="deleteItem(item, $event)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                    <tr mat-row *matRowDef="let item; columns: tableColumns;" 
                        class="body-row" style="cursor: pointer;"
                        [class.opacity-50]="item.isDeleting"
                        (click)="viewItem(item)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 1000]"
                    showFirstLastButtons>
                </mat-paginator>
            </section>
        </section>
    </section>
</section>