
<section style="width: 600px;" class="mx-auto relative">
    <section>
        <p class="text-gray-900 text-4xl  antialiased">
            Company Public ID
        </p>
        <p class="font-medium text-gray-600">
            Enter your company's public ID in the box below to gain access
        </p>
    
        <form [formGroup]="form" class="block mt-12" (ngSubmit)="fetchCompany()">
            <div class="w-7/12 mb-8 mx-auto">
                <mat-form-field appearance="outline" class='w-full'>
                    <mat-label>Company Public ID</mat-label>
                    <input #idTextbox 
                        matInput 
                        required 
                        class="uppercase"
                        formControlName="id" />
                </mat-form-field>
            </div>
        
            <div class="text-center space-y-4">
                <mat-spinner 
                    *ngIf="isFetchingCompany" 
                    [diameter]="40"
                    class="mx-auto">
                </mat-spinner>
                <button matRipple 
                    [disabled]="isFetchingCompany" 
                    class="setup-button">
                    Continue
                </button>
            </div>
        </form>
    
        <div style="margin-top: 100px;">
            <p class="text-lg font-light">Don't have a company ID?</p>
            <p class="text-gray-500">
                Give us a call on 
                <span class="text-gray-900 font-medium">+233 208 598 694, +233 544 703 613</span>
            </p>
        </div>
    </section>

    <section *ngIf="showOverlay" class="flex items-center justify-center absolute 
        bg-white z-40 bg-opacity-100
        w-full top-0 left-0 rounded-md shadow-md
        h-full p-4">

        <div>
            <p class="mb-8 font-medium text-black">JustSave Desktop</p>
            <!-- <p class="text-4xl font-light">Your company is located</p> -->
            <p>Loading Other Components, Please Wait...</p>

            <mat-spinner [diameter]="50" class="mx-auto my-8"></mat-spinner>            
        
            <div style="margin-top: 100px;" class="text-center space-y-4">
                <p class="text-xs font-medium text-gray-400">
                    <span>From </span>
                    <span class="text-gray-600">Ait</span>
                    <span class="text-gray-900">Syndicated</span><br />
                    <a>https://www.aitsyndicated.com</a>
                </p>
            </div>
        </div>
    </section>

</section>