
<section style="width: 1600px; max-width: 100%; height: 85vh;"
    class="space-y-4">
    <header>
        <section class="w-full text-red-500 font-medium self-start 
            flex items-center justify-between">
            <span class="flex items-center text-blue-600 space-x-2">
                <mat-icon class="material-icons-outlined">inventory</mat-icon>
                <p>Inventory</p>
            </span>
            <button tabindex="-1" mat-icon-button class="bg-red-50"
                (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </section>
    </header>

    <section>
        <section class="space-y-2">
            <p class="text-2xl">Search Every Branch Products</p>
            <mat-form-field appearance="outline" style="font-size: .8rem;"
                class="w-full">
                <mat-label>Search Products</mat-label>
                <input #searchBox matInput autocomplete="off"
                    (keyup)="searchProduct(searchBox.value)"/>
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
                <span matSuffix [class.invisible]="!searchBox.value">
                    <button mat-icon-button (click)="clearSearchField(searchBox)">
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </mat-form-field>
        </section>

        <section style="height: 60vh; overflow-y: auto;">
            <mat-progress-bar [class.visible]="isFetchingStocks || isRefreshing"
                [class.invisible]="!isFetchingStocks && !isRefreshing"
                class="border border-transparent"
                mode="indeterminate"></mat-progress-bar>

            <ul *ngIf="stocks?.length" class="space-y-6">
                <li *ngFor="let stock of filteredStocks">
                    <section>
                        <p class="text-base text-blue-700">
                            {{stock?.branchStock?.branch?.name}} Products
                        </p>
                        
                        <table mat-table [dataSource]="stock.items" [fixedLayout]="true" matSort class="w-full">
                            <ng-container matColumnDef="key" class="invisible">
                                <td mat-cell *matCellDef="let item" class="uppercase">{{item?.product?.lookupKey}}</td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <td mat-cell *matCellDef="let item">
                                    <p style="margin: 0; font-size: .8rem; margin-right: 1rem;" 
                                        class="font-medium text-gray-800">
                                        {{item?.product?.name}}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <td mat-cell *matCellDef="let item" style="min-width: 120px;">
                                    <span class="font-medium">
                                        <!-- {{item?.availableQuantity}} In Stock -->
                                        <span *ngIf="item?.availableQuantity">
                                            {{item?.availableQuantity}} In Stock
                                        </span>
                                        <span *ngIf="!item?.availableQuantity"
                                            style="padding: 0 6px;"
                                            class="text-red-700 font-medium rounded-lg
                                            inline-block bg-red-300">
                                            Out of Stock
                                        </span>
                                    </span>
                                </td>
                            </ng-container>
                            <tr mat-row *matRowDef="let item; columns: tableColumns;">
                            </tr>
                        </table>
                    </section>
                </li>
            </ul>
        </section>
    </section>
</section>