<section class="flex items-start space-x-4  my-4">
    <app-back-button></app-back-button>
    
    <section class="space-y-6 w-full">
        <header>
            <section class="space-y-8">
                <p class="text-4xl">{{date}} Sales</p>

                <section class="grid grid-cols-2 gap-4">
                    <div class="font-medium">
                        <p class="text-xs text-gray-500">Items Sold</p>
                        <p class="text-5xl text-blue-600 font-light">
                          {{totalItems}}
                        </p>
                    </div>
                    <div class="font-medium">
                        <p class="text-xs text-gray-500">Total Amount</p>
                        <p class="text-5xl font-light text-blue-600">
                          GHC {{totalAmount?.toFixed(2)}}
                        </p>
                    </div>
                </section>

                <section>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Search Order by time or staff name</mat-label>
                        <input #searchBox matInput autocomplete="off"
                            (keyup)="searchOrder(searchBox.value)"/>
                        <span matPrefix>
                          <svg xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            class="text-gray-800 fill-current mr-2 mb-2 inline-block"
                            viewBox="0 0 24 24"
                            width="24px"
                            fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                          </svg>
                        </span>
                    </mat-form-field>
                </section>
            </section>
        </header>

        <section>
            <ul class="space-y-8">
                <li *ngFor="let order of filteredCustomOrders" class="space-y-2">
                    <div class="flex items-center space-x-4">
                        <p class="font-medium text-lg">
                          {{order?.simpleDate}}
                        </p>
                        <p>
                          <span class="text-gray-700">Total Items:</span>&nbsp;
                          <span class="font-medium text-black">
                            {{order?.items?.length}}
                          </span>
                        </p>
                        <p>
                          <span class="text-gray-700">Amount:</span>&nbsp;
                          <span class="font-medium text-black">
                            GHC {{order?.totalOrderAmount?.toFixed(2)}}
                          </span>
                        </p>
                        <p>
                          <span>Staff:</span>&nbsp;
                          <span class="text-purple-800 font-medium">
                            {{order?.staff?.firstName}} {{order?.staff?.lastName}}
                          </span>
                        </p>
                        <span style="margin-right: auto;"></span>
                        <button mat-icon-button class="bg-gray-200"
                          (click)="viewOrder(order)">
                          <svg xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            class="mx-auto"
                            viewBox="0 0 24 24"
                            width="24px"
                            fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                          </svg>
                        </button>
                    </div>
                    
                    <table mat-table [dataSource]="order?.items" [fixedLayout]="false" 
                        class="w-full text-gray-700 mat-elevation-z1">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Product Name</th>
                            <td mat-cell *matCellDef="let orderItem" class="w-2/5">
                              {{orderItem?.branchProduct?.product?.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="itemPrice">
                            <th mat-header-cell *matHeaderCellDef>Order Price</th>
                            <td mat-cell *matCellDef="let orderItem" class="">
                                <span class="font-medium text-gray-800">GHC</span> 
                                <!-- {{orderItem?.orderItemSellingPrice?.toFixed(2)}} -->
                                {{(orderItem?.salePrice || orderItem?.orderItemSellingPrice)?.toFixed(2)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>Quantity Ordered</th>
                            <td mat-cell *matCellDef="let orderItem" class="">{{orderItem?.quantityOrdered}}</td>
                        </ng-container>
                        <ng-container matColumnDef="totalItemAmount">
                            <th mat-header-cell *matHeaderCellDef>Total Item Amount</th>
                            <td mat-cell *matCellDef="let orderItem" class="">
                                <span class="font-medium text-gray-800">GHC</span> 
                                {{(orderItem?.quantityOrdered * 
                                    (orderItem?.salePrice || orderItem?.orderItemSellingPrice))?.toFixed(2)}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                        <tr mat-row *matRowDef="let orderItem; columns: tableColumns;"></tr>
                    </table>
                </li>
            </ul>
        </section>
    </section>
</section>
