<section class="mb-8">
    <section class="flex items-start space-x-4">
        <app-back-button></app-back-button> &nbsp;         
        <section class="w-full h-full space-y-6">
            <header class="flex items-center justify-between">
                <p class="text-3xl font-light">New Order</p>
                <button mat-raised-button class="bg-red-400 text-white uppercase"
                    (click)="toggleProducts()">
                    {{showOrCollapseProductsButtonText}}
                </button>
                <!-- <div>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Search by product name or Lookup Key</mat-label>
                        <input matInput autocomplete="off"/>
                    </mat-form-field>
                </div> -->
            </header>

            <section [class.zeroHeight]="!isShowProducts" 
                style="max-height: 400px; padding: 1px;" 
                class="overflow-y-auto pb-2">
                <app-product-list [canCreateProduct]="false"
                    [tablePaginatorPageSizeOptions]="[15]"
                    (productSelected)="onProductSelected($event)"></app-product-list>
            </section>

            <section class="mt-2">
                <section *ngIf="!cartItems?.length" style="height: 300px;"
                    class="flex items-center justify-center text-center
                    bg-gray-100 border">
                    <div>
                        <p class="text-2xl font-medium">No Items</p>
                        <p class="text-gray-400">The items you select will show here...</p>
                    </div>
                </section>
                <section *ngIf="cartItems?.length" class="">
                    <mat-card>
                        <mat-card-content>
                            <header class="mb-8">
                                <span class="flex items-center justify-between space-x-6">
                                    <p class="text-2xl">Selected Items</p>
                                    <button mat-raised-button color="primary"
                                        (click)="startOrder()">
                                        START ORDER 
                                        <mat-icon>chevron_right</mat-icon>
                                    </button>
                                </span>
                            </header>

                            <div class="flex items-center space-x-4 uppercase">
                                <p class="w-1/4">Name</p>
                                <p class="w-1/4 text-center">Quantity</p>
                                <p class="w-1/4">Amount</p>
                                <p class="w-1/5">Actions</p>
                            </div>
                            <ul>
                                <li *ngFor="let item of cartItems">
                                    <div class="flex items-center space-x-4 border-b 
                                        py-2 text-gray-700">
                                        <div class="w-1/4 text-xs">
                                            <p>{{item?.branchProduct?.product?.name}}</p>
                                            <p class="font-medium text-red-600">
                                                GHC {{(item?.branchProduct?.product?.sellingPrice)?.toFixed(2)}}
                                            </p>
                                            <p *ngIf="item?.branchProduct?.product?.sellingPrice !== item?.soldPrice" 
                                                class="font-medium text-red-600">
                                                Selling At: GHC {{(item?.soldPrice)?.toFixed(2)}}
                                            </p>
                                        </div>
                                        <p class="w-1/4 text-center">{{item?.quantity}}</p>
                                        <p class="w-1/4">
                                            <span class="text-gray-800 font-medium">GHC</span> 
                                            {{(item?.soldPrice * item?.quantity)?.toFixed(2)}}
                                        </p>
                                        <div [class.showQuantityBox]="item.id === selectedCartItemIdMenu" 
                                            class="w-1/5 flex items-center relative">
                                            <div class="quantityBox hidden absolute top-0 right-32 bg-white z-10
                                                shadow-lg py-2 px-4 border rounded-t-md"
                                                style="min-width: 300px; height: auto;">
                                                <div class="flex items-center justify-between">
                                                    <span>
                                                        <p class="font-medium text-xs">Change Quantity</p>
                                                        <p>Available Quantity: {{item?.branchProduct?.quantity}}</p>
                                                    </span>

                                                    <button mat-icon-button class="text-xs"
                                                        (click)="closeQuantityDialog()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex items-center justify-between">
                                                    <mat-form-field appearance="fill" 
                                                        class="text-xs w-2/3">
                                                        <mat-label>New Quantity</mat-label>
                                                        <input matInput type="number" 
                                                            #quantityTextbox
                                                            (keyup)="changeQuantity(quantityTextbox.value, item)"
                                                            [value]="item?.quantity" autocomplete="off" />
                                                    </mat-form-field>
                                                    
                                                    <span class="flex items-center space-x-2 -mt-4">
                                                        <button mat-icon-button 
                                                            (click)="quantityTextbox.value = quantityTextbox.value - 1">
                                                            <mat-icon>remove</mat-icon>
                                                        </button>
                                                        <button mat-icon-button
                                                            (click)="quantityTextbox.value = +quantityTextbox.value + 1">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <button mat-icon-button 
                                                (click)="deleteCartItem(item)"
                                                class="bg-gray">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button mat-icon-button [matMenuTriggerFor]="itemMenu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>

                                            <mat-menu #itemMenu>
                                                <button mat-menu-item 
                                                    (click)="cartItemChangeQuantityMenuSelected(item.id)">
                                                    <mat-icon>edit</mat-icon> Change Quantity
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <section class="my-4">
                                <div class="text-lg flex items-center">
                                    <p class="text-gray-500 font-normal">
                                        Total Order Amount: 
                                        <span class="text-gray-800 font-medium">
                                            GHC {{orderTotalAmount?.toFixed(2)}}
                                        </span>
                                    </p>                                    
                                </div>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </section>
            </section>
        </section>
    </section>
</section>