
<section class="hidden h-full items-center justify-center flex-col">
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" 
        viewBox="0 0 24 24" fill="black" width="100px" 
        height="100px"><g><rect fill="none" height="24" width="24"/></g><g><g>
            <rect height="8.48" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.8717 17.6255)" width="3" x="16.34" y="12.87"/><path d="M17.5,10c1.93,0,3.5-1.57,3.5-3.5c0-0.58-0.16-1.12-0.41-1.6l-2.7,2.7L16.4,6.11l2.7-2.7C18.62,3.16,18.08,3,17.5,3 C15.57,3,14,4.57,14,6.5c0,0.41,0.08,0.8,0.21,1.16l-1.85,1.85l-1.78-1.78l0.71-0.71L9.88,5.61L12,3.49 c-1.17-1.17-3.07-1.17-4.24,0L4.22,7.03l1.41,1.41H2.81L2.1,9.15l3.54,3.54l0.71-0.71V9.15l1.41,1.41l0.71-0.71l1.78,1.78 l-7.41,7.41l2.12,2.12L16.34,9.79C16.7,9.92,17.09,10,17.5,10z"/></g></g>
    </svg>
    <p class="text-4xl font-medium mt-8">Under Construction!</p>
    <p>
        This area is currently under construction, you will 
        be able to make new orders 
    </p>  
</section>

<section class="mb-8">
    <section class="flex items-start space-x-4">
        <app-back-button></app-back-button> &nbsp;         
        <section class="w-full h-full space-y-6">
            <header class="flex items-center justify-between">
                <p class="text-3xl font-light">New Order</p>
                <button mat-raised-button color="warn" class="uppercase"
                    (click)="toggleProducts()">
                    {{showOrCollapseProductsButtonText}}
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <!-- <div>
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Search by product name or Lookup Key</mat-label>
                        <input matInput autocomplete="off"/>
                    </mat-form-field>
                </div> -->
            </header>

            <section [class.zeroHeight]="!isShowProducts" 
                style="max-height: 400px; padding: 1px;" 
                class="overflow-y-auto pb-2">
                <app-product-list [canCreateProduct]="false"
                    [tablePaginatorPageSizeOptions]="[15]"
                    (productSelected)="onProductSelected($event)"></app-product-list>
            </section>

            <section class="mt-2">
                <section *ngIf="!cartItems?.length" style="height: 300px;"
                    class="flex items-center justify-center text-center
                    bg-gray-100 border">
                    <div>
                        <p class="text-2xl font-medium">No Items</p>
                        <p class="text-gray-400">The items you select will show here...</p>
                    </div>
                </section>
                <section *ngIf="cartItems?.length" class="">
                    <mat-card>
                        <mat-card-content>
                            <header class="mb-8">
                                <span class="flex items-center justify-between space-x-6">
                                    <p class="text-2xl">Order Items</p>
                                    <button mat-raised-button color="primary"
                                        (click)="startOrder()">
                                        START ORDER 
                                    </button>
                                </span>
                            </header>

                            <div class="flex items-center space-x-4 uppercase">
                                <p class="w-1/4">Name</p>
                                <p class="w-1/4 text-center">Quantity</p>
                                <p class="w-1/4">Amount</p>
                                <p class="w-1/5">Actions</p>
                            </div>
                            <ul>
                                <li *ngFor="let item of cartItems">
                                    <div class="flex items-center space-x-4 border-b 
                                        py-2 text-gray-700">
                                        <div class="w-1/4 text-xs">
                                            <p>{{item?.branchProduct?.product?.name}}</p>
                                            <p class="font-medium text-red-600">
                                                GHC {{(item?.branchProduct?.product?.sellingPrice)?.toFixed(2)}}
                                            </p>
                                        </div>
                                        <p class="w-1/4 text-center">{{item?.quantity}}</p>
                                        <p class="w-1/4">
                                            <span class="text-gray-800 font-medium">GHC</span> 
                                            {{(item?.branchProduct?.product?.sellingPrice * item?.quantity)?.toFixed(2)}}
                                        </p>
                                        <div [class.showQuantityBox]="item.id === selectedCartItemIdMenu" 
                                            class="w-1/5 flex items-center relative">
                                            <div class="quantityBox hidden absolute top-0 right-32 bg-white z-10
                                                shadow-lg py-2 px-4 border rounded-t-md"
                                                style="min-width: 300px; height: auto;">
                                                <div class="flex items-center justify-between">
                                                    <span>
                                                        <p class="font-medium text-xs">Change Quantity</p>
                                                        <p>Available Quantity: {{item?.branchProduct?.quantity}}</p>
                                                    </span>

                                                    <button mat-icon-button class="text-xs"
                                                        (click)="closeQuantityDialog()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex items-center justify-between">
                                                    <mat-form-field appearance="fill" 
                                                        class="text-xs w-2/3">
                                                        <mat-label>New Quantity</mat-label>
                                                        <input matInput type="number" 
                                                            #quantityTextbox
                                                            (keyup)="changeQuantity(quantityTextbox.value, item)"
                                                            [value]="item?.quantity" autocomplete="off" />
                                                    </mat-form-field>
                                                    
                                                    <span class="flex items-center space-x-2 -mt-4">
                                                        <button mat-icon-button 
                                                            (click)="quantityTextbox.value = quantityTextbox.value - 1">
                                                            <mat-icon>remove</mat-icon>
                                                        </button>
                                                        <button mat-icon-button
                                                            (click)="quantityTextbox.value = +quantityTextbox.value + 1">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <button mat-icon-button 
                                                (click)="deleteCartItem(item)"
                                                class="bg-gray">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button mat-icon-button [matMenuTriggerFor]="itemMenu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>

                                            <mat-menu #itemMenu>
                                                <button mat-menu-item 
                                                    (click)="cartItemChangeQuantityMenuSelected(item.id)">
                                                    <mat-icon>edit</mat-icon> Change Quantity
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <section class="my-4">
                                <div class="text-lg flex items-center">
                                    <p class="text-gray-500 font-normal">
                                        Total Order Amount: 
                                        <span class="text-gray-800 font-medium">
                                            GHC {{orderTotalAmount?.toFixed(2)}}
                                        </span>
                                    </p>                                    
                                </div>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </section>
            </section>
        </section>
    </section>
</section>