<section class="mb-8">
    <section class="flex items-start space-x-4">
        <app-back-button></app-back-button> &nbsp;         
        <section class="w-full h-full space-y-6">
            <header class="flex items-center justify-between">
                <p class="text-3xl font-light">New Order</p>
            </header>

            <section style="max-height: 400px; padding: 1px;" 
                class="relative">
                <!-- <app-product-list [canCreateProduct]="false"
                    [tablePaginatorPageSizeOptions]="[15]"
                    (productSelected)="onProductSelected($event)">
                </app-product-list> -->

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Search Product by Name or Key</mat-label>
                    <input #searchField matInput class="py-4 text-lg"
                        (keyup)="searchProduct(searchField.value)"
                        autocomplete="off" />
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                    <span matSuffix>
                        <button mat-icon-button (click)="searchField.value = ''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </span>
                </mat-form-field>

                <div *ngIf="searchField.value" class="bg-white w-full absolute top-full
                    mat-elevation-z4 py-4 z-10">
                    <div class="px-4">
                        <p>Select a product</p>
                    </div>
                    <div style="max-height: 55vh; overflow-y: auto;">
                        <table mat-table [dataSource]="dataSource" class="w-full">
                            <ng-container matColumnDef="key">
                                <th mat-header-cell *matHeaderCellDef>Lookup Key</th>
                                <td mat-cell *matCellDef="let searchableProduct" class="uppercase">
                                    {{searchableProduct?.productLookupKey}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let searchableProduct">
                                    <p style="margin: 0; font-size: .8rem; margin-right: 1rem;" 
                                        class="font-medium text-gray-800">
                                        {{searchableProduct?.productName}}
                                    </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="sellingPrice">
                                <th mat-header-cell *matHeaderCellDef>Unit Price</th>
                                <td mat-cell *matCellDef="let searchableProduct" style="min-width: 120px;">
                                    <span class="text-gray-600 font-medium">GHC </span> 
                                    <span class="font-medium text-gray-900">
                                        {{searchableProduct?.productSellingPrice?.toFixed(2)}}
                                    </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef>In Stock</th>
                                <td mat-cell *matCellDef="let searchableProduct" style="min-width: 120px;">
                                    <span class="font-medium">
                                        {{searchableProduct?.quantity}}
                                    </span>
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                            <tr mat-row *matRowDef="let searchableProduct; columns: tableColumns;" 
                                class="body-row" style="cursor: pointer;"
                                (click)="onProductSelected(searchableProduct)"></tr>
                        </table>
                    </div>
                </div>
            </section>

            <section class="mt-2">
                <section *ngIf="!cartItems?.length" style="height: 300px;"
                    class="flex items-center justify-center text-center
                    bg-gray-100 border">
                    <div>
                        <p class="text-2xl font-medium">No Item Selected</p>
                        <p class="text-gray-400">The items you select will show here...</p>
                    </div>
                </section>
                <section *ngIf="cartItems?.length" class="">
                    <mat-card>
                        <mat-card-content>
                            <header class="mb-8">
                                <span class="flex items-center justify-between space-x-6">
                                    <p class="text-2xl">Selected Items</p>
                                    <button mat-raised-button color="primary"
                                        (click)="startOrder()">
                                        START ORDER 
                                        <mat-icon>chevron_right</mat-icon>
                                    </button>
                                </span>
                            </header>

                            <div class="flex items-center space-x-4 uppercase">
                                <p class="w-1/4">Name</p>
                                <p class="w-1/4 text-center">Quantity</p>
                                <p class="w-1/4">Amount</p>
                                <p class="w-1/5">Actions</p>
                            </div>
                            <ul>
                                <li *ngFor="let item of cartItems">
                                    <div class="flex items-center space-x-4 border-b 
                                        py-2 text-gray-700">
                                        <div class="w-1/4 text-xs">
                                            <p>{{item?.stockItem?.product?.name}}</p>
                                            <p class="font-medium text-red-600">
                                                GHC {{(item?.stockItem?.product?.sellingPrice)?.toFixed(2)}}
                                            </p>
                                            <p *ngIf="item?.stockItem?.product?.sellingPrice !== item?.soldPrice" 
                                                class="font-medium text-red-600">
                                                Selling At: GHC {{(item?.soldPrice)?.toFixed(2)}}
                                            </p>
                                        </div>
                                        <p class="w-1/4 text-center">{{item?.quantity}}</p>
                                        <p class="w-1/4">
                                            <span class="text-gray-800 font-medium">GHC</span> 
                                            {{(item?.soldPrice * item?.quantity)?.toFixed(2)}}
                                        </p>
                                        <div [class.showQuantityBox_stop_working]="item.id ===
                                            selectedCartItemIdMenu" 
                                            class="w-1/5 flex items-center relative">
                                            <div class="quantityBox hidden absolute top-0 right-32 bg-white z-10
                                                shadow-lg py-2 px-4 border rounded-t-md"
                                                style="min-width: 300px; height: auto;">
                                                <div class="flex items-center justify-between">
                                                    <span>
                                                        <p class="font-medium text-xs">Change Quantity</p>
                                                        <p>Available Quantity: {{item?.stockItem?.quantity}}</p>
                                                    </span>

                                                    <button mat-icon-button class="text-xs"
                                                        (click)="closeQuantityDialog()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                                <div class="flex items-center justify-between">
                                                    <mat-form-field appearance="fill" 
                                                        class="text-xs w-2/3">
                                                        <mat-label>New Quantity</mat-label>
                                                        <input matInput type="number" 
                                                            #quantityTextbox
                                                            (keyup)="changeQuantity(quantityTextbox.value, item)"
                                                            [value]="item?.quantity" autocomplete="off" />
                                                    </mat-form-field>
                                                    
                                                    <span class="flex items-center space-x-2 -mt-4">
                                                        <button mat-icon-button 
                                                            (click)="quantityTextbox.value = quantityTextbox.value - 1">
                                                            <mat-icon>remove</mat-icon>
                                                        </button>
                                                        <button mat-icon-button
                                                            (click)="quantityTextbox.value = +quantityTextbox.value + 1">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <button mat-icon-button 
                                                (click)="deleteCartItem(item)"
                                                class="bg-gray">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button mat-icon-button [matMenuTriggerFor]="itemMenu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>

                                            <mat-menu #itemMenu>
                                                <button mat-menu-item 
                                                    (click)="cartItemChangeQuantityMenuSelected(item.id)">
                                                    <mat-icon>edit</mat-icon> Change Quantity
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <section class="my-4">
                                <div class="text-lg flex items-center">
                                    <p class="text-gray-500 font-normal">
                                        Total Order Amount: 
                                        <span class="text-gray-800 font-medium">
                                            GHC {{orderTotalAmount?.toFixed(2)}}
                                        </span>
                                    </p>                                    
                                </div>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </section>
            </section>
        </section>
    </section>
</section>