
<div style="min-width: 600px; max-width: 700px;" class="">
    <div class="flex items-start justify-between space-x-4">
        <span>
            <p style="margin-bottom: .2rem;" 
                class="text-gray-700 font-medium">
                Branch:  <span class="text-blue-700">{{branchProduct?.branch?.name}}</span>
            </p>
            <p class="text-lg" style="margin-bottom: 0;">Edit Your Branch Quantity For </p>
        </span>
        <button mat-button color="warn" (click)="close()" tabindex="-1">
            <mat-icon>close</mat-icon> &nbsp; 
            <span>CLOSE</span>
        </button>
    </div>
    <section class="my-4">
        <p class="text-base font-medium" style="margin-bottom: 0;">{{branchProduct?.product?.name}}</p>
        <p class="text-xs text-gray-600">
            LookupKey: <span class="text-gray-900 font-medium">{{branchProduct?.product?.lookupKey}}</span>, 
            Unit Price: <span class="text-gray-900 font-medium">
                ¢{{branchProduct?.product?.sellingPrice?.toFixed(2)}}
            </span>, 
            Branch Quantity: <span class="text-gray-900 font-medium">{{branchProduct?.quantity}}</span>
        </p>
    </section>

    <section>
        <section class="flex items-center justify-between space-x-6">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Change Quantity</mat-label>
                <input #quantityBox 
                    matInput 
                    required 
                    type="number" [value]="productQuantity" 
                    (keyup)="quantityTyped(quantityBox.value)"/>
                <mat-hint>
                    Use the plus and minus buttons to increase or decrease quantity. 
                    Or you can type the figure you want directly.
                </mat-hint>
            </mat-form-field>
            <div style="width: 110px; margin-top: -15px;" class="flex justify-between">
                <button mat-icon-button class="bg-gray-200" (click)="decrementQuantity()">
                    <mat-icon>remove</mat-icon>
                </button> &nbsp; 
                <button mat-icon-button class="bg-gray-200" (click)="incrementQuantity()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </section>

        <section class="mt-8 flex items-center justify-between space-x-4">
            <p class="w-9/12 font-medium text-xs"
                style="color: rgb(236, 75, 75);">
                {{networkErrorMessage}}
            </p>
            <button color="warn" 
                mat-raised-button
                (click)="updateQuantity(quantityBox.value)"
                [disabled]="(productQuantity == branchProduct?.quantity) || updatingQuantity">
                UPDATE QUANTITY
            </button>
        </section>
    </section>
</div>

