<app-loader *ngIf="isFetchingOrders"
    loaderText="Loading Orders..."></app-loader>

<section *ngIf="!isFetchingOrders && !isErrorFetchingOrders"
    class="mat-elevation-z2 border-t border-l border-r rounded-tl-md rounded-tr-md">
    <header>
        <section class="p-4 flex items-center justify-between space-x-4">
            <p class="text-4xl font-light">Daily Sales History</p>
            <button mat-raised-button (click)="refreshOrders()"
                [disabled]="isRefreshing">
                <mat-icon>refresh</mat-icon>&nbsp;
                <span>REFRESH</span>
            </button>
        </section>        
        <mat-progress-bar [class.invisible]="!isRefreshing" [class.visible]="isRefreshing"
            mode="indeterminate" class="border border-transparent">
        </mat-progress-bar>

        <section class="mx-4">
            <mat-form-field appearance="outline">
                <mat-label>Search Sales history by date</mat-label>
                <input #searchBox matInput autocomplete="off"
                    (keyup)="searchOrderDay(searchBox.value)" />
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
            </mat-form-field>
        </section>
    </header>

    <section>
        <table mat-table [dataSource]="dataSource2" class="w-full">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let dayOrder">{{dayOrder?.date}}</td>
            </ng-container>
            <ng-container matColumnDef="totalItems">
                <th mat-header-cell *matHeaderCellDef>Total Items</th>
                <td mat-cell *matCellDef="let dayOrder">{{dayOrder?.totalItems}}</td>
            </ng-container>
            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef>Total Amount</th>
                <td mat-cell *matCellDef="let dayOrder">
                    <span class="font-medium text-gray-900">GHC</span>&nbsp; 
                    <span class="font-medium text-gray-700">{{dayOrder?.totalAmount?.toFixed(2)}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let dayOrder" class="text-right">
                    <button mat-icon-button>
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="table2Columns"></tr>
            <tr mat-row *matRowDef="let dayOrder; columns: table2Columns;"
                style="cursor: pointer;" (click)="viewDailySale(dayOrder.date)"></tr>
        </table>

        <table mat-table [dataSource]="dataSource" matSort class="hidden w-full">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No</th>
                <td mat-cell *matCellDef="let order" class="uppercase">{{order?.maskedId}}</td>
            </ng-container>
            <ng-container matColumnDef="served">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
                <td mat-cell *matCellDef="let order">{{order?.staff?.firstName}} {{order?.staff?.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="items">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Items</th>
                <td mat-cell *matCellDef="let order" class="uppercase">{{order?.items?.length}}</td>
            </ng-container>
            <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
                <td mat-cell *matCellDef="let order">
                    <span>
                        {{order?.branch?.name}}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let order">
                    <span>
                        {{order?.simpleDate}}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let order" class="text-right">
                    <button mat-icon-button>
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let order; columns: tableColumns;" 
                class="" style="cursor: pointer;" (click)="viewOrder(order)"></tr>
        </table>
    </section>
</section>
