
<div>
    <p class="text-xl font-normal">Personal Settings</p>
    <div class="mt-4 border-b-2 pb-2">
        <span class="flex items-center justify-between mb-4">
            <p class="m-0" style="margin: 0;">Name</p>
        </span>
        <span>
            <p class="text-xs text-gray-500">@{{staff?.username}}</p>
            <p class="text-lg">{{staff?.firstName}} {{staff?.lastName}}</p>
        </span>
    </div>
    <div class="mt-4 pb-2">
        <span class="flex items-center justify-between mb-4">
            <p class="m-0" style="margin: 0;">Branch</p>            
        </span>

        <span>
            <p class="text-lg">{{staff?.staffBranch?.branch?.name}}</p>
            <p class="text-xs text-gray-500">{{staff?.staffBranch?.branch?.address}}</p>
        </span>
    </div>
</div>