@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@tailwind base;
* {
    outline: none;
}

.ellipsize {
    @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
}

.slim-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.slim-scrollbar::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}

.slim-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    @apply bg-gray-300;
}

button, a.button {
}

.red-text, red-bg {
   color: rgb(236, 75, 75)
}

.toolbar-primary-color {
    @apply bg-blue-700 text-white;
}

.primary-color {
    background-color: indigo;
    color: white;
}

.primary-button-color {
    @apply bg-blue-700 text-white;
}

.primary-color-dark {

}

.secondary-color {
}

.header-color {
    background-color: indigo
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.setup-body {
    
}

.setup-button {
    min-width: 200px;
    padding: .6rem;
    @apply bg-blue-700 font-medium rounded-md uppercase text-white;
}

@tailwind components;
@tailwind utilities;